[Unit]
Description=mywork
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
Type=simple
User=root
Restart=always
RestartSec=5
DynamicUser=true
ExecStart=/usr/bin/mywork
ExecStop=ps ax | grep /usr/bin/mywork | awk '{print $1}' |xargs kill -9

[Install]
WantedBy=multi-user.target
